.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

form {
  width: 350px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: left;
}

form img {
  width: 150px;
  display: block;
  margin: 0 auto 20px;
}

label {
  font-size: 12px;
  font-weight: 600;
  color: #475569;
  margin-bottom: 5px;
  display: block;
}

input[type='text'],
input[type='password'],
input[type='checkbox'],
input[type='text']:focus,
input[type='password']:focus {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

input[type='checkbox'] {
  width: auto;
  margin-right: 6px;
}

button {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  margin-top: 8px;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}
